<div class="error-wrap col-md-8 col-md-offset-2 text-center">
    <h1>404 - Page Not Found!</h1>
    <p>Oh No! The page you requested has not been found!</p>
    <a class="btn btn-lg btn-primary headbtn" href="/">Go Back To The Home Page</a>
</div>