<div class="row">
    <div class="create-category col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <form method="post">
            <input type="hidden" name="catauthor" value="{{username}}">
            <h1 class="text-center">Add Category:</h1>
            <div class="form-group">
                <label for="title">Category Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            {{#each error}}
            <p class="errors">{{this}}</p>
            {{/each}}
        </form>
    </div>
</div>
<p class="category-wrap text-center col-md-6 col-md-offset-3"><a href="/dashboard">Return to Dashboard</a></p>