<div class="pollresults col-md-6 col-md-offset-3">
    <div class="row">
        <h1 class="pollres-h1 text-center">Viewing Results For:</h1> 
        <h2 class="pollres-h2 text-center">{{title}}</h2> 
        {{#if message}}
        <p class="alert alert-success col-md-10 col-md-offset-1">{{message}}</p>
        {{/if}}
        {{#if votes}}
        <div class="chart-box">
            <canvas id="myChart" width="390" height="390"></canvas>
            <p class="poll-return text-center"><a href="/polls/find/{{polls._id}}">Click Here</a> to return to the poll.</p>
            {{#if name}}
            <p class="poll-return text-center"><a href="/dashboard">Return to Dashboard</a></p>
            {{/if}}
        </div>
        {{else}}
        <p class="novotes text-center">There are currently no votes!</p>
        <p class="text-center"><a class="novotes" href="/polls/show/allpolls/">Return To Poll View</a></p>
        {{/if}}
    </div>
</div>
<script>
    window.onload = function() {
        var id = window.location.href;
        id = id.split("results/")[1];
        $.get('/polls/ajax/' + id, function(res) {
            var data = res;
            var ctx = document.getElementById("myChart").getContext("2d");
            new Chart(ctx).Pie(data, {
                segmentStrokeColor: "black",
                segmentStrokeWidth: 5
            });
        });
    }
</script>