<div class="row">
    <div class="col-md-8 col-md-offset-2 category-header">
        <h1 class="text-center">Click On The Category You Want To Remove</h1>
        <p class="remove-desc text-center">Remember! If a poll already exists in the category, the poll will still exist! Removing a category from the list just means that noone can make a new poll in the same category until it is remade. You can only remove categories that you have made on your account.</p>
    </div>
</div>
{{#if category}}
{{#each category}}
<div class="row">
    <div class="text-center remove-category-accept col-md-4 col-md-offset-4">
        <a href="/polls/removecategory/{{this.category}}">{{this.category}}</a>
    </div>
</div>
{{/each}} 
{{else}}
<h1 class="category-wrap text-center col-md-8 col-md-offset-2 add-padding">You have not created any categories yet.</h1> 
{{/if}}
<p class="category-wrap text-center col-md-6 col-md-offset-3 add-margin"><a href="/dashboard">Return to Dashboard</a></p>